<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example </title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>
    <body>
        <div class="container" style="margin-top: 2em">
        <div th:if="${param.error}" class="alert alert-danger">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-info">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username"> User Name</label> 
                <input type="text" id="username" name="username" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="password"> Password</label>
                <input type="password" id="password" name="password" class="form-control"/>
            </div>
            <div>
                <button class="btn btn-outline-primary" type="submit">
                    <span class="bi-send"></span> Sign In</button>
            </div>
        </form>
        </div>
    </body>
</html>