<html>
    <head>
        <title>Create</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>
    <body>
        <div class="container">
        <form action="#" th:action="@{/person/insert}" th:object="${person}" method="post">
            <div class="row">
                <div class="form-group col-md-8">
                    <label for="name" class="col-form-label">Name</label> 
                    <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name"> 
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label for="email" class="col-form-label">Email</label> 
                    <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email"> 
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                </div>

                <div class="form-group col-md-8">
                    <label for="phoneNo" class="col-form-label">Phone No</label> 
                    <input type="text" th:field="*{phoneNo}" class="form-control" id="phoneNo" placeholder="PhoneNo"> 
                    <span th:if="${#fields.hasErrors('phoneNo')}" th:errors="*{phoneNo}" class="text-danger"></span>
                </div>

                <div class="col-md-8">
                    <p style="float: right">
                        <button type="submit" class="btn btn-sm btn-outline-success">
                            <span class="bi-save"></span> Simpan
                        </button>
                        <a th:href="@{/person/list}" class="btn btn-sm btn-outline-primary">
                            <span class="bi-list"></span> Back
                        </a>
                    </p>
                </div>
            </div>
        </form>
        </div>
    </body>
</html>
