<html>
    <head>
        <title>Person</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>
    <body>
        <div class="container">
            <p class="my-5" style="float: right">
                <a th:href="@{/person/create}" class="btn btn-sm btn-outline-primary">
                    <i class="bi-pencil"> Create</i>
                </a>
            </p>
            <table class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone No</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="person : ${persons}">
                        <td th:text="${person.name}"></td>
                        <td th:text="${person.email}"></td>
                        <td th:text="${person.phoneNo}"></td>
                        <td>
                            <a th:href="@{/person/edit/{id}(id=${person.id})}" class="btn btn-sm btn-outline-info">
                                <i class="bi-pencil-square"></i> Update
                            </a>
                            <a th:href="@{/person/delete/{id}(id=${person.id})}" class="btn btn-sm btn-outline-danger">
                                <i class="bi-trash"></i> Hapus
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
